<div class="video-player">
    <% if (theme.video.showTitle) { %>
    <div class="title center-align">
        <i class="fas fa-video-camera"></i>&nbsp;&nbsp;<%- theme.video.title %>
    </div>
    <% } %>
</div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.css">
    <div id="dplayer"></div>
    <script src="https://cdn.jsdelivr.net/npm/flv.js/dist/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dplayer/dist/DPlayer.min.js"></script>
</head>
<body>
	<div id="dplayer"></div>
<script>
const dp = new DPlayer({
    container: document.getElementById('dplayer'),
    autoplay: '<%- theme.video.autoplay %>' === 'true',
    theme: '<%- theme.video.theme %>',
    loop: '<%- theme.video.loop %>' === 'true',
    preload: '<%- theme.video.preload %>',
    volume: Number('<%- theme.video.volume %>'),
    video: {
        quality: [
            {
                name: 'MV',
                url: '<%- theme.video.url %>',
                type: 'normal',
            },
            {
                name: 'LIVE',
                url: '<%- theme.video.url1 %>',
                type: 'hls',
            },
        ],
        defaultQuality: 0,
        pic: '<%- theme.video.pic %>',
        thumbnails: '<%- theme.video.thumbnails %>'
    },
});
</Script>